<form [formGroup]="loginForm" (ngSubmit)="submit()" class="md:flex justify-center px-10 md:px-20 py-20  gap-10 !bg-white">
    <div class=" h-auto w-3/5" id="backgroundImage">
    </div>
    <div class="!bg-white  md:w-1/4 rounded flex flex-col gap-3 shadow-sm drop-shadow-md px-3 py-3">
        <div class="text-center mt-10">
            <i class="material-icons !text-6xl !bg-blue-990">person</i>
            <div class="text-2xl my-2 font-medium">
                Login
            </div>
        </div>
        <mat-form-field class="w-full" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" name="email" placeholder="Email" >
            <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
                Email is required
            </mat-error>
        </mat-form-field>
      
        <mat-form-field class="w-full"  appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" [type]="hide()?'password':'text'" name="password" placeholder="Password" >
            <mat-icon matSuffix (click)="togglePassword($event)" class="cursor-pointer"> {{hide()?'visibility_off':'visibility'}} </mat-icon>
             <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                Password is required
            </mat-error>
        </mat-form-field>
        <button  type="submit" [disabled]="loginForm.invalid" class="w-full mb-5 !bg-blue-900 !text-white rounded-md p-2 cursor-pointer disabled:opacity-30 ">
            Login
        </button>
        <p class="font-bold text-xs text-center pb-10">
            Don`t have an account? <a [routerLink]="'/register'" class="text-blue-500" >Register</a>
        </p>
    </div>
</form>