@if(chatService.currentOpenedChat()){
    <div class="p-3">
    <div class="flex flex-col mt-3 text-center items-center ">
        <img [src]="chatService.currentOpenedChat()?.profilePicture" class="rounded-full h-44 w-44 mb-4 object-cover" alt="profile Image">
    </div>
    <div class="ml-3">
        <p class="text-lg font-semibold">
            {{chatService.currentOpenedChat()?.fullName | titlecase}}
        </p>
        <p class="text-sm text-gray-500">
            {{chatService.currentOpenedChat()?.userName }}
        </p>
    </div>
</div>
}