.chat-box{
    scroll-behavior: smooth;
    overflow-y: auto;
    padding: 10px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction:column;
    box-shadow: 0 0 10px rgb(0 ,0,0,0.1);
    border-radius: 5px;
}
.chat-box::-webkit-scrollbar{
    width: 5px;
    transition: 0.3s;
}

.chat-box:hover::-webkit-scrollbar{
    width: 5px;
}
.chat-box::-webkit-scrollbar-track{
    background-color: transparent;
    border-radius: 10px;
}
.chat-box:hover::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 10px;
}
.chat-box::-webkit-scrollbar-thumb:hover{
    background: #555;
}
.chat-icon{
    width: 40px;
    height: 40px;
    font-size: 48px;
}